<div class="footArea clearfix">
  <div class="footer-box" style="display: inline-block;">
    <div>
      <ul>
        <li><span>免责声明</span></li>
        <li>本系统竭力保证所提供的证券市场信息准确可靠，</li>
        <li>但并不担保（无论是提示、默示、法定或其他形式）其准确性和完整性。</li>
        <li>任何使用方不得就全部或部分使用其中的证券市场信息作为依据并对于由此而引起的任何损失向本公司提出索赔。</li>
      </ul>
      <img src="static/images/ewm.jpg" alt="巨潮数据" width="80">
    </div>
  </div>
  <div class="foot-copyright">
    <p> 深圳证券信息有限公司版权所有 ICP证 粤B2-20050313 <strong><img src="static/images/icon110.png">粤公网安备 44030402002031号</strong></p>
  </div>
</div>

<!--<div class="float_layer" id="miaov_float_layer" style="z-index:10001;">
    <h2>
        <b>通知</b>
        <a id="btn_min" href="javascript:;" class="min"></a> <a id="btn_close" href="javascript:;" class="close"></a>
    </h2>
    <div class="content">
        <div class="wrap"> 
         <p>2019年5月11-2019年5月12日期间，机房例行检修，届时测试环境WebAPI暂时关闭，请访问正式环境http://webapi.cninfo.com.cn。</p>
        </div>
    </div>
</div>-->



